<form
  action="/login"
  method="post"
  class="h-screen flex flex-col gap-3 max-w-xs mx-auto justify-center items-center"
>

  <h1 class="text-2xl text-neutral-300 p-4">Login</h1>

  <input
    type="text"
    name="username"
    placeholder="Username"
    class="input input-bordered w-full max-w-xs"
  />
  <input
    name="password"
    type="password"
    placeholder="Password"
    class="input input-bordered w-full max-w-xs"
  />

  <button class="btn btn-primary w-full">Login</button>
  <a class="btn link link-hover" href="http://localhost:8080/register">Sign up</a>
</form>