<body class="font-mono">

  <div
    class="hero min-h-screen"
    style="background-image: url(https://uzbekistan.travel/storage/app/media/nargiza/cropped-images/uzb%20kuhny-0-0-0-0-1606719883.jpg);"
  >
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">O'zbek Milliy Taomlari</h1>
        <p class="mb-5">Oʻzbek oshxonasi — oʻzbek xalqi va Oʻzbekistonning
          milliy va anʼanaviy oshxonasidir.Oʻzbek taomlari dunyoda eng
          mashhurlardan biridir.
        </p>
        <!-- <button class="btn btn-primary">Get Started</button> -->
      </div>
    </div>
  </div>

  <div class="navbar bg-base-100 text-xl font-bold">
    <h2 class="font-bold pl-4">Milliy Taomlar</h2>

  </div>

  <div class="flex flex-wrap">
    {{#each foods}}
      <div class="card w-92 bg-base-100 shadow-xl hover:bg-stone-800">
        <figure><img
            class="w-[400px] h-[225px]"
            src="{{image}}"
            alt="Shoes"
          /></figure>
        <div class="card-body">
          <h2 class="card-title">{{name}}</h2>
          <p>Retsept:{{ingredients}}</p>
          <div class="card-actions justify-between">
            <button class="btn btn-outline btn-primary">{{price}}so'm</button>
            <button class="btn btn-primary">Buyurtma berish</button>
          </div>
        </div>
      </div>
    {{/each}}

  </div>
</body>