<body class="font-mono">

    <div class="hero min-h-screen"
        style="background-image: url(https://uzbekistan.travel/storage/app/media/nargiza/cropped-images/uzb%20kuhny-0-0-0-0-1606719883.jpg);">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold">O'zbek Milliy Taomlari</h1>
                <p class="mb-5">Oʻzbek oshxonasi — oʻzbek xalqi va Oʻzbekistonning milliy va anʼanaviy
                    oshxonasidir.Oʻzbek taomlari dunyoda eng mashhurlardan biridir.
                </p>
                <!-- <button class="btn btn-primary">Get Started</button> -->
            </div>
        </div>
    </div>

    <div class="navbar bg-base-100  text-xl font-bold">
        <h2 class="font-bold pl-4">Milliy Taomlar</h2>

    </div>

    <div class="grid grid-rows-2">

        <div class="flex w-screen p-6 gap-4">
            <div class="flex  ">
                <div class="card w-92 bg-base-100 shadow-xl hover:bg-stone-800">
                    <figure><img class="w-[400px] h-[225px]"
                            src="https://zamin.uz/uploads/posts/2017-11/1509563345_59f9af3a2b9de.jpg" alt="foods" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">Osh</h2>
                        <p>Retsept:Guruch,mol go’shti,sabzi,o’simlik moyi,<br>piyoz,achchiq qalampir,kashnich
                            urug’lari,tuz</p>
                        <div class="card-actions justify-between ">
                            <button class="btn btn-outline btn-primary">25 000so'm</button>
                            <button class="btn btn-primary">Buyurtma berish</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex ">
                <div class="card w-92 bg-base-100 shadow-xl hover:bg-stone-800">
                    <figure><img class="w-[400px] h-[225px]"
                            src="https://e1.edimdoma.ru/data/posts/0001/9589/19589-ed4_wide.jpg?1631182268"
                            alt="Shoes" /></figure>
                    <div class="card-body">
                        <h2 class="card-title">Manti</h2>
                        <p>Retsept:Mol go’shti,Piyoz,Zira,Murch,sariyog’<br>
                            Xamiri uchun:Oq un,tuxum,tuz,suv
                        </p>
                        <div class="card-actions justify-between">
                            <button class="btn btn-outline btn-primary">20 000so'm</button>
                            <button class="btn btn-primary">Buyurtma berish</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex  ">
                <div class="card w-92 bg-base-100 shadow-xl hover:bg-stone-800">
                    <figure><img class="w-[400px] h-[225px]"
                            src="https://i.mycdn.me/i?r=AyH4iRPQ2q0otWIFepML2LxRHJIybRc_Lszf8XDbgx9sgg" alt="Shoes" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">Somsa</h2>
                        <p>Retsept:Piyoz,tuz,<br>murch kukuni,zira Xamiri uchun:Un,suv,tuz,sariyog’
                        </p>
                        <div class="card-actions justify-between">
                            <button class="btn btn-outline btn-primary">10 000so'm</button>
                            <button class="btn btn-primary">Buyurtma berish</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex ">
                <div class="card w-92 bg-base-100 shadow-xl hover:bg-stone-800">
                    <figure><img class="w-[400px] h-[225px]"
                            src="https://kartinkin.net/uploads/posts/2021-08/1629817319_9-kartinkin-com-p-uzbekskii-shashlik-iz-baranini-yeda-krasiv-10.jpg"
                            alt="Shoes" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">Kabob</h2>
                        <p>Retsept:Mol go’shti,qo’y yog’i,piyoz,pomidor,o’simlik<br> moyi,ziravorlar aralashmasi,tuz</p>
                        <div class="card-actions justify-between">
                            <button class="btn btn-outline btn-primary">12 000so'm</button>
                            <button class="btn btn-primary">Buyurtma berish</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex w-screen p-6 gap-4">
            <div class="flex  ">
                <div class="card w-92 bg-base-100 shadow-xl hover:bg-stone-800">
                    <figure><img class="w-[400px] h-[225px]"
                            src="https://eda.yandex.ru/images/3806023/23b5cb67feff78feee66ecf2ad0c3faf-680x500.jpeg"
                            alt="Shoes" /></figure>
                    <div class="card-body">
                        <h2 class="card-title">Norin</h2>
                        <p>Retsept:suyakli qo’y go’shti,<br>kolbasa qazi (qaynatilgan),piyoz,ukrop va kinza,tuz,<br>
                            yanchilgan murch</p>
                        <div class="card-actions justify-between">
                            <button class="btn btn-outline btn-primary">18 000so'm</button>
                            <button class="btn btn-primary">Buyurtma berish</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex ">
                <div class="card w-92 bg-base-100 shadow-xl hover:bg-stone-800">
                    <figure><img class="w-[400px] h-[225px]"
                            src="https://xs.uz/upload/post/2020/04/8/e4a4606c90fcb7d6cb939c0a395ed8dd0408.jpg"
                            alt="Shoes" /></figure>
                    <div class="card-body">
                        <h2 class="card-title">Qovurilgan Baliq</h2>
                        <p>Retsept:Crucian sazan,sarimsoq,<br>limon,tuz,piyoz,soya sousi,zaytun moyi,bolgar qalampir</p>
                        <div class="card-actions justify-between">
                            <button class="btn btn-outline btn-primary">60 000so'm</button>
                            <button class="btn btn-primary">Buyurtma berish</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex  ">
                <div class="card w-92 bg-base-100 shadow-xl hover:bg-stone-800">
                    <figure><img class="w-[400px] h-[225px]"
                            src="https://makepedia.uz/wp-content/uploads/2018/10/qovurma-lagmon.jpg" alt="Shoes" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">Lag'mon</h2>
                        <p>Retsept:Go’sht,piyoz,qalampir,<br>tuxum,sarimsoq,tuz,zira,murch,tomat
                            pastasi,pomidor,<br>lag’mon xamiri,o’simlik yog’i,ko’katlar </p>
                        <div class="card-actions justify-between">
                            <button class="btn btn-outline btn-primary">22 000so'm</button>
                            <button class="btn btn-primary">Buyurtma berish</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex ">
                <div class="card w-92 bg-base-100 shadow-xl hover:bg-stone-800">
                    <figure><img class="w-[400px] h-[225px]"
                            src="https://i0.wp.com/tarasmulticulturaltable.com/wp-content/uploads/2021/05/Tuxum-Barak-Khorezm-Egg-Dumplings-7-of-8.jpg?fit=1300%2C867&ssl=1"
                            alt="Shoes" /></figure>
                    <div class="card-body">
                        <h2 class="card-title">Tuxum Barak</h2>
                        <p>Retsept:Bug'doy uni,suv,tuz,tuxum,kungaboqar yog'i</p>
                        <div class="card-actions justify-between">
                            <button class="btn btn-outline btn-primary">20 000so'm</button>
                            <button class="btn btn-primary">Buyurtma berish</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>